SingleResponsibility/.vs/SingleResponsibility/FileContentIndex/a86dea52-25b8-47a6-ae82-5c14923db9b7.vsidx
SingleResponsibility/.vs/SingleResponsibility/FileContentIndex/32af52aa-8c6d-4e7a-bcb1-a16fe1749b2f.vsidx
SingleResponsibility/.vs/SingleResponsibility/FileContentIndex/32af52aa-8c6d-4e7a-bcb1-a16fe1749b2f.vsidx
/SingleResponsibility/.vs
